/* Kaleidoscope */

section.kaleidoscope {
    position: relative;
    width   : 100%;
    height  : 60vh;
    overflow: hidden;
}

section.kaleidoscope iframe {
    position : absolute;
    width    : 200%;
    height   : 400%;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

section.kaleidoscope div.overlay {
    position        : absolute;
    background-color: var(--banner);
    opacity         : 34%;
    width           : 100%;
    height          : 100%;
    z-index         : 1;
}

@media screen and (max-device-width: 600px) {
    section.kaleidoscope {
        margin-top: 80px;
        height    : 40vh;
    }
}

@media screen and (max-device-width: 360px) {
    section.kaleidoscope {
        margin-top: 116px;
    }
}