/* Kaleidoscope */

section.kaleidoscope {
    position: relative;
    width   : 100%;
    height  : 60vh;
    overflow: hidden;
}

section.kaleidoscope iframe {
    position : absolute;
    width    : 100%;
    height   : 400%;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

section.kaleidoscope div.overlay {
    position        : absolute;
    background-color: var(--banner);
    opacity         : 34%;
    width           : 100%;
    height          : 100%;
    z-index         : 1;
}