@import url(../side/root.css);
@import url(../side/header.css);
@import url(../side/banner.css);
@import url(../side/footer.css);

/* About Section */

section.about {
    padding: var(--padding-horz) var(--padding-side);
}

section.about div.upper,
section.about div.email {
    display    : flex;
    align-items: center;
}

section.about div.upper {
    gap: 64px;
}

section.about div.upper div:first-child {
    position: relative;
}

section.about div.upper div:first-child i {
    position        : absolute;
    top             : 10px;
    right           : 10px;
    color           : #0e7e4f;
    font-size       : 2.4em;
    transform-origin: 50% 100%;
    animation       : waveHand 2s ease-in-out 0.6s infinite;
}

section.about div.upper img {
    width        : 240px;
    border-radius: 50%;
}

section.about div.lower {
    width : 80%;
    margin: 0 auto;
}

section.about hr {
    margin: 46px auto;
}

section.about div.lower ul {
    list-style-type: disc;
    margin-top     : 46px;
}

section.about div.lower li {
    margin: 32px 80px 0;
}

section.about div.lower ul a {
    text-decoration: none;
    color          : #0e7e4f;
    transition     : all 60ms linear;
}

section.about div.lower ul a:hover {
    border-bottom: 2px solid #0e7e4f;
}

section.about div.email {
    flex-direction: column;
    gap           : 24px;
}

section.about div.email h3 {
    font-size: 1.4em;
}

section.about div.email div {
    display        : flex;
    flex-direction : column;
    gap            : 18px;
    margin-top     : 18px;
    justify-content: center;
    align-items    : center;
}

section.about div.email input,
section.about div.email textarea {
    font-family  : 'Concert One', cursive;
    border-radius: 8px;
}

section.about div.email input,
section.about div.email textarea {
    padding  : 8px;
    width    : 240%;
    font-size: 0.8em;
    border   : 4px solid #0e7e4f;
}

section.about div.email button {
    position     : relative;
    padding      : 8px 24px;
    font-family  : 'Concert One', cursive;
    font-size    : 1em;
    border       : none;
    border-radius: 6px;
    background   : #0e7e4f;
    color        : whitesmoke;
    cursor       : pointer;
}

section.about div.email button:hover {
    top: 4px;
}

section.about div.email button[disabled="disabled"] {
    opacity: 0.8;
    cursor : not-allowed;
}

section.about div.email button[disabled="disabled"]:hover {
    top: 0px;
}

@media screen and (max-device-width: 600px) {
    section.about div.upper div:first-child {
        display: none;
    }

    section.about div.lower {
        width: 100%;
    }

    section.about hr {
        margin: 38px auto;
    }

    section.about div.lower li {
        margin: 32px 24px 0;
    }

    section.about div.email input,
    section.about div.email textarea {
        width: 200%;
    }
}

@media screen and (max-device-width: 360px) {
    section.about hr {
        margin: 24px auto;
    }

    section.about div.lower ul {
        margin: 24px auto 18px;
    }

    section.about div.lower li {
        margin: 24px 18px 0;
    }

    section.about div.email {
        gap: 0;
    }

    section.about div.email div:nth-child(3) {
        display: none;
    }

    section.about div.email input,
    section.about div.email textarea {
        width: 180%;
    }
}