@import url(../side/root.css);
@import url(../side/header.css);
@import url(../side/banner.css);
@import url(../side/footer.css);

/* About Section */

section.about {
    padding: 96px 256px;
}

section.about div.upper {
    display    : flex;
    align-items: center;
    gap        : 64px;
}

section.about div.upper div:first-child {
    position: relative;
}

section.about div.upper div:first-child i {
    position        : absolute;
    top             : 10px;
    right           : 10px;
    color           : #0e7e4f;
    font-size       : 2.4em;
    transform-origin: 50% 100%;
    animation: waveHand 2s ease-in-out 0.6s infinite;
}

section.about div.upper img {
    width        : 240px;
    border-radius: 50%;
}

section.about div.lower {
    width : 80%;
    margin: 46px auto 0;
}

section.about div.lower ul {
    list-style-type: disc;
}

section.about div.lower li {
    margin: 32px 80px 0;
}

section.about div.lower ul a {
    text-decoration: none;
    color          : #0e7e4f;
    transition     : all 60ms linear;
}

section.about div.lower ul a:hover {
    border-bottom: 2px solid #0e7e4f;
}