@import url(../side/root.css);
@import url(../side/header.css);
@import url(../side/banner.css);
@import url(../side/footer.css);

/* Artists Section */

section.artists {
    padding              : var(--padding-horz) var(--padding-side);
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    gap                  : 42px;
}

section.artists article {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 8px;
}

article div.card {
    position     : relative;
    border-radius: 12px;
    overflow     : hidden;
}

article div.info,
article div.button button {
    color    : whitesmoke;
    font-size: 0.9em;
}

article div.info {
    display   : none;
    padding   : 4px 12px;
    position  : absolute;
    top       : 0;
    height    : 96.5%;
    overflow  : auto;
    background: rgba(69, 69, 69, 0.8);
}

article div.image img {
    width: 100%;
}

article div.button,
article div.button button {
    width: 100%;
}

article div.button button {
    height       : 32px;
    background   : #0e7e4f;
    border       : none;
    border-radius: 6px;
    font-family  : 'Concert One', cursive;
    cursor       : pointer;
}

article div.button button:hover {
    color: #454545;
}

article div.card,
article div.button {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-device-width: 600px) {
    section.artists {
        grid-template-columns: repeat(2, 1fr);
    }

    article div.info,
    article div.button button {
        font-size: 0.8em;
    }
}

@media screen and (max-device-width: 360px) {
    section.artists {
        grid-template-columns: repeat(1, 1fr);
    }

    article div.info,
    article div.button button {
        font-size: 1em;
    }
}