@import url(../side/root.css);
@import url(../side/header.css);
@import url(../side/banner.css);
@import url(../side/footer.css);

/* History Section */

section.history {
    padding: var(--padding-horz) var(--padding-side);
}

section.history article {
    display       : flex;
    flex-direction: column;
    gap           : 34px;
}

section.history article h1 {
    font-size: 1.6em;
}

@media screen and (max-device-width: 360px) {
    section.history article h1 {
        font-size : 1.4em;
        text-align: center;
    }

    section.history article {
        gap: 18px;
    }
}