@import url(../side/root.css);
@import url(../side/header.css);
@import url(../side/banner.css);
@import url(../side/footer.css);

/* History Section */

section.history {
    padding: 96px 256px;
}

section.history article {
    display       : flex;
    flex-direction: column;
    gap           : 34px;
}

section.history article h1 {
    font-size: 1.6em;
}