@import url(../side/root.css);
@import url(../side/header.css);
@import url(../side/banner.css);
@import url(../side/footer.css);

/* Info Section */

section.information {
    padding: var(--padding-horz) var(--padding-side);
    display: flex;
    gap    : 96px;
}

section.information article {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

@media screen and (max-device-width: 600px) {
    section.information {
        flex-direction: column;
        gap           : 34px;
    }

    section.information article {
        gap: 30px;
    }
}

@media screen and (max-device-width: 360px) {
    section.information {
        gap: 24px;
    }

    section.information article {
        gap: 20px;
    }
}