/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@font-face {
    font-family: 'Genty Regular';
    src        : url(../assets/fonts/GentyDemo-Regular.ttf);
}

/* Animations */

@keyframes halfSpin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-30deg)
    }

    50% {
        transform: rotate(30deg)
    }

    100% {
        transform: rotate(0);
    }
}

/* Root Values */

html {
    background-color: whitesmoke;
    color           : #454545;
    font-family     : 'Concert One', cursive;
    font-size       : 1.4em;
}

p {
    line-height: 42px;
    text-align: justify;
}

/* Header */

header {
    background-color: #0e7e4f;
    padding         : 24px 256px;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
}

/* Logo Styling */

div.logo a {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 12px;
    text-decoration: none;
}

div.logo span {
    margin-top : 6px;
    font-family: 'Genty Regular', 'Concert One', cursive;
    font-size  : 28px;
    color      : whitesmoke;
}

div.logo img {
    width: 62px;
}

/* TODO: I need to find a JS way to keep this animation. */

div.logo:hover img {
    animation-name    : halfSpin;
    animation-duration: 800ms;
}

/* Navbar Styling */

nav ul {
    display        : flex;
    justify-content: center;
    align-items    : center;
    gap            : 34px;
    font-size      : 22px;
    color          : whitesmoke;
}

nav ul li {
    transition: all 60ms linear;
}

nav ul li:hover:not(li.dropdown) {
    border-bottom: 2px solid whitesmoke;
}

nav ul a {
    text-decoration: none;
    color          : whitesmoke;
}

/* History Dropdown */

nav ul li.dropdown {
    position: relative;
}

nav ul li.dropdown .fa-caret-left {
    transition: all 60ms linear;
}

nav ul li.dropdown:hover .fa-caret-left {
    transform: rotate(-90deg);
}

nav ul li.dropdown div {
    background-color: #454545;
    display         : none;
    position        : absolute;
    margin-top      : 2px;
    right           : 0px;
}

nav ul li.dropdown:hover div {
    display       : flex;
    flex-direction: column;
    gap           : 0px;
    z-index       : 2;
}

nav ul li.dropdown div a {
    width    : 240px;
    padding  : 12px 24px;
    font-size: 18px;
}

nav ul li.dropdown div a {
    transition: all 80ms linear;
}

nav ul li.dropdown div a:hover {
    background-color: black;
}

/* Kaleidoscope */

section.kaleidoscope {
    position: relative;
    width   : 100%;
    height  : 60vh;
    overflow: hidden;
}

section.kaleidoscope iframe {
    position : absolute;
    width    : 100%;
    height   : 400%;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

section.kaleidoscope div.overlay {
    position        : absolute;
    background-color: whitesmoke;
    opacity         : 34%;
    width           : 100%;
    height          : 100%;
    z-index         : 1;
}

/* History Section */

section.history {
    padding: 96px 256px;
}

section.history article {
    display       : flex;
    flex-direction: column;
    gap           : 34px;
}

section.history article h1 {
    font-size: 1.6em;
}

section.history article p {
    text-indent: 34px;
}

section.history article hr {
    margin: 0;
    background-color: #0e7e4f;
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 4px;
}

/* Footer */

footer {
    background-color: #0e7e4f;
    color           : whitesmoke;
    padding         : 24px 256px;
    display         : flex;
    justify-content : space-between;
    font-size       : 0.8em;
}

footer div {
    flex-basis: 30%;
}

footer hr {
    background-color: whitesmoke;
    border          : 1px solid whitesmoke;
    border-radius   : 2px;
}

footer ul {
    display       : flex;
    flex-direction: column;
    gap           : 12px;
}

footer ul a {
    color          : whitesmoke;
    text-decoration: none;
}

footer ul li {
    transition: all 60ms linear;
}

footer ul li:hover:not(div.social li) {
    padding-left: 4px;
}

footer div.social {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
}

footer div.social ul {
    flex-direction : row;
    justify-content: space-around;
}

footer div.social i:not(div.toggle i) {
    font-size : 2em;
    transition: all 60ms linear;
}

footer div.social i:hover:not(div.toggle i) {
    color: #454545;
}

footer div.social p {
    text-align: center;
}

/* Dark Theme Toggle */

footer div.toggle {
    position  : relative;
    align-self: center;
}

footer div.toggle input {
    position: absolute;
    top     : 4px;
    left    : 22px;
    opacity : 0%;
}

footer div.toggle label {
    background-color: #454545;
    padding         : 6px 8px;
    width           : 45px;
    height          : 15px;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    position        : relative;
    border-radius   : 50px;
    cursor          : pointer;
    transform       : scale(1.2);
}

footer div.toggle div.ball {
    background-color: whitesmoke;
    width           : 26px;
    height          : 22px;
    position        : absolute;
    top             : 2px;
    left            : 4px;
    border-radius   : 50px;
    transition      : all 200ms ease-out;
}

footer div.toggle input:checked+label div.ball {
    transform: translateX(28px);
}